@model Graduate_Project___Leon.Models.Profile

<h1>Create Profile</h1>

<form asp-controller="Profile" asp-action="CreateProfile">
    <div class="form-group">
        <label for="formGroup" asp-for="Name">Name</label>
        <input type="text" class="form-control" id="formGroup" asp-for="Name" placeholder="John">
    </div>
    <div class="form-group">
        <label for="formGroup" asp-for="Surname">Surname</label>
        <input type="text" class="form-control" id="formGroup" asp-for="Surname" placeholder="Wick">
    </div>
    <div class="form-group">
        <label for="formGroup" asp-for="DOB">Date of Birth</label>
        <input type="date" class="form-control" id="formGroup" asp-for="DOB" placeholder="yyyy/mm/dd">
    </div>
    <div class="form-group">
        <label for="formGroup" asp-for="Age">Age</label>
        <input type="number" class="form-control" id="formGroup" asp-for="Age" placeholder="35">
    </div>
    <div class="form-group">
        <label for="formGroup" asp-for="Country">Country</label>
        <input type="text" class="form-control" id="formGroup" asp-for="Country" placeholder="Mauritius">
    </div>
    <div class="form-group">
        <label for="formGroup" asp-for="City">City</label>
        <input type="text" class="form-control" id="formGroup" asp-for="City" placeholder="Port Louis">
    </div>
    <a asp-controller="Profile" asp-action="CreateProfile"><button type="submit" class="btn btn-primary m-4" type="button">Create Profile</button></a>
</form>